<nav>
  <div  class="site-title">
    <a href="/"><h1>Blog Posts Yolit</h1></a>
    <p>A Yolit Site</p>
  </div>
  <ul>
    <li><a href="/">List of Posts</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/posts/create">New Post</a></li>
  </ul>
</nav>