<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, id velit? Sint explicabo sit dolor iusto deleniti eligendi molestias soluta at, corrupti tempora iste? Aliquam corrupti non tempora adipisci ad?</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis tempore, fugit sint delectus est doloremque quibusdam culpa architecto quam commodi consequuntur, vero temporibus nam perspiciatis explicabo molestiae quia odio in!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima cum quia porro soluta, consequatur dignissimos asperiores ad praesentium quidem tempora! Quo asperiores magnam alias perferendis. Nisi nam ut veniam voluptas!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo laborum exercitationem voluptates pariatur sit magni, porro soluta delectus aspernatur nobis. Praesentium labore quod dolorem asperiores adipisci eveniet id possimus quos!</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>