@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

*, *::after, *::before {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1240px;
  margin:  0.8rem auto;
  padding: 1rem auto;
  font-family: 'Noto Serif', serif;
  color: #222;
}

a {
  text-decoration: none;
}

/* Nav a Footer */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  margin-left: 1.2rem;
  list-style-type: none;
}

nav h1 {
  font-size: 2.5em;
}

nav p, nav a {
  color: #777;
  font-weight: 300;
}

footer {
  margin: 2.5rem auto 0.8rem;
  text-align: center;
  color: #777;
}

h2 {
  margin-bottom: 2.2rem;
}

h3 {
  margin-bottom: 0.3rem;
  text-transform: capitalize;
}

.content {
  margin-left: 0.8rem;
}

.create-post form{
  max-width: 50%;
  margin: 0 auto;
}
.create-post input,
.create-post textarea{
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-post label{
  display: block;
  margin-top: 24px;
}

textarea {
  height: 200px;
}

.create-post button {
  margin-top: 0.8rem;
  padding: 0.4rem 1rem;
  font-size: 1em;
  color: white;
  background-color: indianred;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}